# Ignore Emacs buffer files
*~
*#

# Ignore object files
*.o

# Ignore all main files
*-main.c

# Except the ones in:
!0x03-debugging/*-main.c
!0x0D-preprocessor/2-main.c
!0x0F-function_pointers/3-main.c

# Ignore all .c file in 0x09-static_libraries
0x09-static_libraries/*-*.c

# Ignore executable files
*.out

# Ingnore _putchar.c
_putchar.c
